@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

:root
{
    --bg-color:#000000;
    --text-color:#fff;
    --btn-hover-color:aqua;
}

body
{
    background: var(--bg-color);
}

section
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.login-box
{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid var(--btn-hover-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter:blur(15px); */
    text-shadow: 0px 0px 20px var(--btn-hover-color);
}

h2{
    font-size: 2em;
    color: var(--text-color);
    text-align: center;
}

.input-box
{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid var(--text-color);
}

::placeholder
{
    color: var(--text-color);
}

.input-box input
{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--text-color);
    padding: 0 35px 0 5px;
}

.input-box .icon
{
    position: absolute;
    right:8px;
    color: var(--text-color);
    font-size: 1.2em;
    line-height: 57px;
}

.input-box .icon i
{
    color: var(--btn-hover-color);
    text-shadow: 0px 0px 20px var(--btn-hover-color);
}


.remember-forgot
{
    margin: -15px 0 15px;
    font-size: .9em;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input
{
    margin-right: 3px;
}

.remember-forgot a
{
    color: var(--text-color);
    text-decoration: none;
}

.remember-forgot a:hover
{
    text-decoration: underline;
}

button
{
    width: 100%;
    height: 40px;
    background: var(--text-color);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

button:hover
{
    background: var(--btn-hover-color);
    color: #000000;
    border: 2px solid var(--btn-hover-color);
    box-shadow: 0px 0px 20px var(--btn-hover-color);
}

.register-link
{
    font-size: .9em;
    color: var(--text-color);
    text-align: center;
    margin: 25px 0 10px; 
}

.register-link p a
{
    color: var(--text-color); 
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover
{
    text-decoration: underline;
}

@media (max-width: 360px)
{
    .login-box
    {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

}
